@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --primary-color: #fafafa;
  --secondary-color: #b0b0b0;
  --accent-color: #fac23c;

  --font-body: "Poppins", sans-serif;
  --font-pinyon-script: "Pinyon Script", cursive;
}
body {
  font-family: var(--font-body);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}
/* Background colors */

.bg-primary-color {
  background-color: var(--primary-color);
  color: var(--background);
}
.bg-secondary-color {
  background-color: var(--background);
  color: var(--foreground);
}

/* Fonts */

.fashion-font {
  font-family: var(--font-pinyon-script);
}
